@{
    ViewBag.Title = "Pagina Inicial";
}
<br /> @*//Preguiça de colocar um style ali dentro da classe sorry*@
<div class="text-center alert-dark">
    <p class="h2">Faculdade Olympios ao Reinos dos deuses</p>
</div>
<div class="text-center">
    <img src="~/assets/img/giphy.gif" class="rounded" alt="...">
</div>
<br />
<div class="text-center alert-dark ">
    <p class="h4">Forjada pelo increvel zeus, a Faculdade Olympus tem a obrigação de formar deuses para a luta incessante contra todo o mal.</p>
</div>